nav {
    margin: 3em 0;
}

h1 {
    text-align: center;
}

.submitListReceiptFilters {
    height: 3em;
    margin: 2em 3em;
}

.isChecked {
    width: 6em;
}

.isChecked select {
    overflow-y: auto;
}

#preload {
    width: 100vw;
}

#filter-form > .row {
    margin-left: 0px;
}

.update-receipt {
    text-decoration: none;
}